*{
    box-sizing: border-box;
    padding: 0;
}


.cart-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    padding: 30px;
    width: 200px;
    transition: 1s;
    transform: translateX(250px);
    overflow: auto;
}

.open{
    transform: translateX(0);
}

.cart-list{
    list-style: none;
}

.cart-list li{
    margin-bottom: 25px;
}